
@model Graduation_Project.Areas.Admin.ViewModels.AddGroupSubjectVM
<link href="~/Admin/css/bootstrap-wysihtml5.css" rel="stylesheet">

<link href="~/Admin/css/awesome-bootstrap-checkbox.css" rel="stylesheet">

@{
    SelectList items = new SelectList(Model.Subjects, "Id", "Name");
}

    <div id="wrapper">
        <div class="content-wrapper container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Add Group<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Group</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end .page title-->

            <div class="row">

                <div class="col-md-10">
                    <div class="panel panel-card margin-b-30">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">  </h4>
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="post" role="form" asp-controller="Group" asp-action="Add">
                                
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Name</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Name" type="text" placeholder="Please enter Name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Description</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Description" type="text" placeholder="Please enter Description" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Creation Time</label>

                                    <div class="col-lg-10">
                                        <input asp-for="CreationTime" type="date"  class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <select asp-items="items" asp-for="SubjectId" style="width:200px;" class="col-lg-10" >
                                            <option value="0">
                                                --Select Subject--
                                            </option>
                                        </select>
                                </div>


                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button asp-controller="Group" asp-action="Add" class="btn btn-info">
                                            Save
                                        </button>
                                        <button asp-controller="Group" asp-action="GetAllGroups" class="btn btn-danger">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
