@model TeacherVM
<link href="~/Admin/css/bootstrap-wysihtml5.css" rel="stylesheet">

<link href="~/Admin/css/awesome-bootstrap-checkbox.css" rel="stylesheet">



   


    <div id="wrapper">
        <div class="content-wrapper container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Register Teacher<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Teacher</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end .page title-->

            <div class="row">

                <div class="col-md-10">
                    <div class="panel panel-card margin-b-30">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">  </h4>
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="post" role="form" asp-controller="Teacher" asp-action="Add">

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">First Name</label>

                                    <div class="col-lg-10">
                                        <input asp-for="FirstName" type="text" placeholder="Please enter First Name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label"> Last Name</label>

                                    <div class="col-lg-10">
                                        <input asp-for="LastName" type="text" placeholder="Please enter Last Name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Description</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Description" type="text" placeholder="Please enter Phone" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Gender</label>

                                    <div class="col-lg-10">
                                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<TeacherGender>()" class="form-control">
                                            <option>--Select Gender--</option>
                                        </select>
                                         
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">UserName</label>

                                    <div class="col-lg-10">
                                        <input asp-for="UserName" type="text" placeholder="Please enter UserName" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Email</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Email" type="email" placeholder="Please enter Email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">  Password</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Password" type="password" placeholder="Please enter Password  " class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button asp-controller="RegisterTeacherAccount" asp-action="Register" class="btn btn-info">
                                            Create
                                        </button>
                                       @* <button asp-controller="Student" asp-action="GetAllStudents" class="btn btn-danger">
                                            Cancel
                                        </button>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

