@model Graduation_Project.ViewModels.TeacherSubjects
  
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"> 
<link rel="stylesheet" href="~/css/homecontent.css">
<div class="allTeacher py-5" id="allTeacher">
        <div class="Teacher row">
            @foreach (var item in Model.Teachers)
            {
                    <div class="CardContainer col-lg-4 col-md-6 pb-4">
                    <div class="card_wraper">
                        <div class="card">
                            <div class="image_content">
                                <span class="overlay"></span>
                                <div class="card_image">
                                    <img src="~/images/@item.Picture" class="card_image" alt="sana">
                                </div>
                            </div>
                            <div class="card_content">
                                <h2 class="name"> @item.FirstName @item.LastName</h2>
                                <p class="description">@item.Description</p>
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>

    </div>