@model AdminRegisterVM
<link href="~/Admin/css/bootstrap-wysihtml5.css" rel="stylesheet">

<link href="~/Admin/css/awesome-bootstrap-checkbox.css" rel="stylesheet">








    

    <div id="wrapper">
        <div class="content-wrapper container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Register Admin<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Admin</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end .page title-->

            <div class="row">

                <div class="col-md-10">
                    <div class="panel panel-card margin-b-30">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">  </h4>
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="post" role="form" asp-controller="RegisterAccount" asp-action="RegisterAccount">

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Name</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Name" type="text" placeholder="Please enter Name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">UserName</label>

                                    <div class="col-lg-10">
                                        <input asp-for="UserName" type="text" placeholder="Please enter UserName" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Email</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Email" type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Password</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Password" type="password" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        
                                        <input type="submit" class="btn btn-info" value="Submit" />
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

