/* comment */
.post__comment .accordion-button::after {
  margin-left: 0 !important;
  display: none !important;
}

.post__comment .accordion-button:hover {
  background: transparent !important;
  border-color: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
  background: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
