
@model Subject
<link href="~/Admin/css/bootstrap-wysihtml5.css" rel="stylesheet">

<link href="~/Admin/css/awesome-bootstrap-checkbox.css" rel="stylesheet">








  


    <div id="wrapper">
        <div class="content-wrapper container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Edit Subject<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Subject</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end .page title-->

            <div class="row">

                <div class="col-md-10">
                    <div class="panel panel-card margin-b-30">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">  </h4>
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="post" role="form" asp-controller="Subject" asp-action="Edit" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="col-lg-10">
                                        <input asp-for="Id" type="hidden">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Name</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Name" type="text"  placeholder="Please enter Name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Description</label>

                                    <div class="col-lg-10">
                                        <input asp-for="Description" type="text" placeholder="Please enter Description" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Year</label>

                                    <div class="col-lg-10">
                                        <select asp-for="Year" asp-items="Html.GetEnumSelectList<SubjectYear>()" class="form-control">
                                                <option>--Select Year--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Picture</label>
                                    <div class="col-lg-10">
                                        <input type="file" name="File" asp-for="Image" class="form-control" accept="image/*" />
                                    </div>
                                </div>
                                <div class="form-group">
                                     <div class="col-lg-10">
                                        <img src="~/images/@(Model.Image)" class="img-thumbnail rounded mx-auto d-block" style="height :70px; width:100px" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button asp-controller="Subject" asp-action="Edit" class="btn btn-info">
                                            Edit
                                        </button>
                                        <button asp-controller="Subject" asp-action="GetAllSubject" class="btn btn-danger">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

