
@{
    ViewData["Title"] = "Index";
}

<!--<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img class="img-card" src="https://www.almrsal.com/wp-content/uploads/2017/10/%D8%A7%D9%84%D9%84%D8%BA%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Arabic
                                </h4>
                                <p class="">
                                    Mr / Mohamed Ahmed
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a asp-action="#" asp-controller="#" class="btn btn-link btn-block">
                                    Go To Group
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img class="img-card" src="https://www.almrsal.com/wp-content/uploads/2017/10/%D8%A7%D9%84%D9%84%D8%BA%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Arabic
                                </h4>
                                <p class="">
                                    Mr / Mohamed Ahmed
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a asp-action="#" asp-controller="#" class="btn btn-link btn-block">
                                    Go To Group
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img class="img-card" src="https://www.almrsal.com/wp-content/uploads/2017/10/%D8%A7%D9%84%D9%84%D8%BA%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Arabic
                                </h4>
                                <p class="">
                                    Mr / Mohamed Ahmed
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a asp-action="#" asp-controller="#" class="btn btn-link btn-block">
                                    Go To Group
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img class="img-card" src="https://www.almrsal.com/wp-content/uploads/2017/10/%D8%A7%D9%84%D9%84%D8%BA%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Arabic
                                </h4>
                                <p class="">
                                    Mr / Mohamed Ahmed
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a asp-action="#" asp-controller="#" class="btn btn-link btn-block">
                                    Go To Group
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img class="img-card" src="https://www.almrsal.com/wp-content/uploads/2017/10/%D8%A7%D9%84%D9%84%D8%BA%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.jpg" />
                          </a>
                            <div class="card-content " >
                                <h4 class="card-title">
                                    Arabic
                                </h4>
                                <p class="">
                                    Mr / Mohamed Ahmed
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a asp-action="#" asp-controller="#" class="btn btn-link btn-block">
                                    Go To Group
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img class="img-card" src="https://www.almrsal.com/wp-content/uploads/2017/10/%D8%A7%D9%84%D9%84%D8%BA%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Arabic
                                </h4>
                                <p class="">
                                    Mr / Mohamed Ahmed
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a asp-action="#" asp-controller="#" class="btn btn-link btn-block">
                                    Go To Group
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Courses Start -->
<div class="container-fluid py-5">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" asp-action="Index" asp-controller="SubjectPosts" asp-route-id="1">
                    <img class="img-fluid" src="~/images/arabic2.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            Arabic
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>Arabic</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" asp-action="Index" asp-controller="SubjectPosts" asp-route-id="2">
                    <img class="img-fluid" src="~/images/physics.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            Physics
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>Phisics</span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" asp-action="Index" asp-controller="SubjectPosts" asp-route-id="3">
                    <img class="img-fluid" src="~/images/math.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            Math
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>Math</span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" asp-action="Index" asp-controller="SubjectPosts" asp-route-id="4">
                    <img class="img-fluid" src="~/images/chemestry.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            chemestry
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>chemestry</span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" asp-action="Index" asp-controller="SubjectPosts" asp-route-id="5">
                    <img class="img-fluid" src="~/images/english.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            English
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>English</span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" asp-action="Index" asp-controller="SubjectPosts" asp-route-id="6">
                    <img class="img-fluid" src="~/images/frensh.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            Frensh
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>Frensh</span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg justify-content-center mb-0">
                        <li class="page-item disabled">
                            <a class="page-link rounded-0" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link rounded-0" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->
